<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page.title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/mobile.css">
        <script src="/js/blogThumbnailDisplay.js" type="module"></script> 
        <script src="/js/freezeframe.min.js"></script>
        <script
            src="https://app.rybbit.io/api/script.js"
            data-site-id="e3c222a23625"
            defer
        ></script>
    </head>
    <body>
        <span class="dot" style="left: 25em; top: 10.3em;border-width:2px;background-color:#FFFFFF99;"></span>
        <span class="dot" style="left: 40em; top: 12em;"></span>
        <span class="dot" style="left: 80em; top: 8em;"></span>
        <span class="dot" style="left: 33em; top: 12.5em;"></span>
        <span class="dot" style="left: 16em; top: 3em;"></span>
        <span class="dot" style="left: 74em; top: 6em;"></span>
        <span class="dot" style="left: 27em; top: 2em;"></span>
        <span class="dot" style="left: 38em; top: 9em;border-width:2px;background-color:#FFFFFF99;"></span>
        <span class="dot" style="left: 122em; top: 11em;"></span>
        <span class="dot" style="left: 149em; top: 4em;border-width:2px;background-color:#FFFFFF99;"></span>
        <span class="dot" style="left: 127em; top: 14em;"></span>
        <span class="dot" style="left: 83em; top: 12.3em;"></span>
        <span class="dot" style="left: 102em; top: 11em;border-width:2px;background-color:#FFFFFF99;"></span>
        <span class="dot" style="left: 50em; top: 15em;"></span>
        <span class="dot" style="left: 41em; top: 16em;"></span>
        <span class="dot" style="left: 120em; top: 11.5em;"></span>
        <span class="dot" style="left: 12em; top: 10em;border-width:2px;background-color:#FFFFFF99;"></span>
        <span class="dot" style="left: 26em; top: 12.2em;"></span>
        <span class="dot" style="left: 48em; top: 8em;border-width:2px;background-color:#FFFFFF99;"></span>
        <span class="dot" style="left: 54em; top: 12.5em;"></span>
        <span class="dot" style="left: 49em; top: 3em;"></span>
        <span class="dot" style="left: 24em; top: 6em;"></span>
        <span class="dot" style="left: 90em; top: 2em;"></span>
        <span class="dot" style="left: 87em; top: 9em;"></span>
        <span class="dot" style="left: 167em; top: 11.8em;"></span>
        <span class="dot" style="left: 129em; top: 4em;"></span>
        <span class="dot" style="left: 177em; top: 14em;border-width:2px;background-color:#FFFFFF99;"></span>
        <span class="dot" style="left: 143em; top: 12em;"></span>
        <span class="dot" style="left: 91em; top: 11.2em;"></span>
        <span class="dot" style="left: 65em; top: 15em;border-width:2px;background-color:#FFFFFF99;"></span>
        <span class="dot" style="left: 141em; top: 16em;"></span>
        <span class="dot" style="left: 108em; top: 11.5em;"></span>
        <header-component>
            <div class = "void">
                <div class="nav">
                <img src="/images/Heart.png" alt="An anatomical heart made of computer cables">
                    <div id="nav-header">
                        <h2>George Eltzroth</h2>
                        <h3>Babaloga</h3>
                    </div>
                    <menu>
                        <a href="/index.html">
                            ◧&#8239; Home &#8239;◨
                        </a>
                        <a href="/games.html">
                            ◭&#8239; Portfolio &#8239;◮
                        </a>
                        <a href="/blog.html">
                            ◐&#8239; Blog &#8239;◑
                        </a>
                    </menu>
                </div>
            </div>
        </header-component>
        <div class="content" style="display:inline-block;">
            {{ content }}
        </div>  
        <script>
            new Freezeframe({trigger: "click", overlay: true});
        </script>
    </body>
</html>